<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>

    {% if user.is_authenticated %}
         {{ user.username }}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Sair</button>
    </form>
    {% else %}
        <p>Não está logado</p>
        <a href="{% url 'login' %}">Entrar</a>
    {% endif %}
</body>
</html>