{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script>


    tailwind.config={
        theme:{
            extend:{
                colors:{
                            verde:{
                            escuro:'#42765D',
                            
                                },

                            verde_botao:{
                            claro:'#03484C',
                            escuro:'#42765D'
                                },
                                cinza:{
                                    claro:'#F7F7F9'
                                },

                            input:{
                                color: 'black'
                              },          
                         },
                        
                        fontFamily:{
                           jersey: ['Inter, sans-serif']
                                }
                    }
        }

        

    }

    </script>


</head>
<body>
    <form  method="post" action="cadastro.php">
        <div class="flex justify-center align-items fixed top-20 left-60 h-56 grid grid-cols-4 p-4">

    
           <div> <label for="id">Id:</label><br>
            <input   class="border border-stone-900 p-1 w-24" type="text" id="id" name="id" disabled  ><br><br></div>
    
            <div class="justify-center align-items"><label for="razao_social">Razão social:</label><br>
            <input class="border border-stone-900 p-1 w-24 " type="text" id="FORNECEDOR_NOME_RAZAO_SOCIAL" name="FORNECEDOR_NOME_RAZAO_SOCIAL"><br><br></div>
    
            <div><label for="cpf_cnpj">CPF/CNPJ:</label><br>
            <input  class="border border-stone-900 p-1 w-24 " type="text" id="FORNECEDOR_CPF_CNPJ" name="FORNECEDOR_CPF_CNPJ"><br><br></div>
    
            <div><label for="email">Email:</label><br>
            <input  class="border border-stone-900 p-1 w-24 " type="email" id="FORNECEDOR_EMAIL" name="FORNECEDOR_EMAIL"><br><br></div>
    
           <div><label for="endereco">Endereço:</label><br>
            <input  class="border border-stone-900 p-1 w-24 " type="text" id="FORNECEDOR_ENDERECO" name="FORNECEDOR_ENDERECO"><br><br></div> 
    
           <div><label for="numero">Número:</label><br>
            <input   class="border border-stone-900 p-1 w-24" type="number" id="FORNECEDOR_ENDERECO_NUMERO" name="FORNECEDOR_ENDERECO_NUMERO"><br><br></div>
    
            <div><label for="bairro">Bairro:</label><br>
            <input  class="border border-stone-900 p-1 w-24" type="text" id="FORNECEDOR_BAIRRO" name="FORNECEDOR_BAIRRO"><br><br></div>
    
            <div><label for="cidade">Cidade:</label><br>
            <input class="border border-stone-900 p-1 w-24" type="text" id="FORNECEDOR_CIDADE" name="FORNECEDOR_CIDADE"><br><br></div>
    
           <div> <label for="uf">UF:</label><br>
            <input  class="border border-stone-900 p-1 w-24" type="text" id="FORNECEDOR_UF" name="FORNECEDOR_UF"><br><br></div>
    
            <div><label for="telefone1">Telefone 1:</label><br>
            <input  class="border border-stone-900 p-1 w-24" stype="tel" id="FORNECEDOR_FONE1" name="FORNECEDOR_FONE1"><br><br></div>
    
          <div>  <label for="telefone2">Telefone 2:</label> <br>
            <input  class="border border-stone-900 p-1 w-24" type="tel" id="FORNECEDOR_FONE2" name="FORNECEDOR_FONE2"><br><br></div>
    
           <div> <label for="observacao">Observação:</label><br>
            <textarea  class="border border-stone-900 p-1 w-24"  id="FORNECEDOR_OBSERVACAO" name="FORNECEDOR_OBSERVACAO"></textarea><br><br></div>
    
           <div> <label> Situação:</label><br>
            <input type="checkbox" name="FORNECEDOR_ATIVO" value="1"> Ativo <br><br></div>
           
            <div><label for="tipo"> Tipo:</label><br>
            <input  class="border border-stone-900 p-1 w-24" type="text" id="FORNECEDOR_TIPO" name="FORNECEDOR_TIPO"><br><br></div>
    <br>
    <br>
    <br>
            <div class="flex justify-center items-end ">
                <button class=" text-white  bg-verde-escuro w-60 py-2 rounded-full shadow-2xl hover:bg-verde_botao-claro duration-150 " type="submit">Cadastrar</button>
            </div>
        </div>
            </form>
        </form>
        <!-- LATERAL FIXA CINZA-->
        <div class=" bg-cinza-claro fixed top-0 left-0 w-52 h-full ">
          
    
            <!--DIV PARA IMAGEM DA LOGO-->
            <div class="flex justify-center ">
                <img class="w-28 h-28 mr-2 " src="image/LOGO2 (1).png" alt="logo">
            </div>
    
    
            <!--LISTA DE BOTÃO-->
            <ul>
                    <div class="flex justify-center ">
                        <button class=" bg-cinza-claro mt-14 mb-4  w-52 py-2 rounded-full hover:bg-verde_botao-escuro duration-150 flex justify-center rounded hover:rounded-lg" type="button">
                        <img class="w-4 h-4 mr-2" src="image/casa.png" alt="logo">Inicio</button>
                    </div>
                            
                    <button class=" bg-cinza-claro mt-2  mb-4  w-52 py-2 rounded-full  hover:bg-verde_botao-escuro duration-150 flex justify-center rounded hover:rounded-lg" type="button">
                    <img class="w-4 h-4 mr-2" src="image/calendar.png" alt="logo">Alugueis</button>
                                
                    <button class=" bg-cinza-claro mt-2  mb-4  w-52 py-2 rounded-full  hover:bg-verde_botao-escuro duration-150 flex justify-center rounded hover:rounded-lg" type="button">
                    <img class="w-4 h-4 mr-2" src="image/cliente.png" alt="logo">Clientes</button>
                                    
                    <button class=" bg-cinza-claro mt-2  mb-4  w-52 py-2 rounded-full  hover:bg-verde_botao-escuro duration-150 flex justify-center rounded hover:rounded-lg" type="button">
                    <img class="w-4 h-4 mr-2" src="image/furadeira.png" alt="logo">Equipamentos</button>
    
                    <button class=" bg-cinza-claro mt-2  mb-4  w-52 py-2 rounded-full  hover:bg-verde_botao-escuro duration-150 flex justify-center rounded hover:rounded-lg" type="button">
                    <img class="w-4 h-4 mr-2" src="image/cliente.png" alt="logo">Fornecedores</button>
    
                    <button class=" bg-cinza-claro mt-2  mb-4  w-52 py-2 rounded-full  hover:bg-verde_botao-escuro duration-150 flex justify-center rounded hover:rounded-lg" type="button">
                    <img class="w-4 h-4 mr-2" src="image/selecionado.png" alt="logo">Orçamentos</button>
    
                    <button class=" bg-cinza-claro mt-2  mb-4  w-52 py-2 rounded-full  hover:bg-verde_botao-escuro duration-150 flex justify-center rounded hover:rounded-lg" type="button">
                    <img class="w-4 h-4 mr-2" src="image/computer.png" alt="logo">Relatórios</button>
    
                    <button class=" bg-cinza-claro mt-2  mb-4  w-52 py-2 rounded-full  hover:bg-verde_botao-escuro duration-150 flex justify-center rounded hover:rounded-lg" type="button">
                    <img class="w-4 h-4 mr-2" src="image/prancheta2.png" alt="logo">Revisões</button>
                
                    <img class="w-4 h-4 mr-2" src="image/ajuda.png" alt="logo">
                </div>
            </ul>
    
        <!--DIV FIXA SUPERIOR VERDE-->
        <div class="w-full h-14 bg-verde-escuro flex justify-end items-center">
           <img class="w-24 h-24 " src="image/Locja.png" alt="logo">
        </div>
    
        
    </body>
    </html>