{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200">
            <thead>
                <tr>
                    <th class="px-4 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Nome</th>
                    <th class="px-4 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Endereço</th>
                    <th class="px-4 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Telefone</th>
                    <th class="px-4 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Acões</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                   <tr>
                    <td class="px-4 py-2 border-b border-gray-200">{{ customer.cliente_nome_razaosocial }} {{ customer.cliente_sobrenome }}</td>
                    <td class="px-4 py-2 border-b border-gray-200">{{ customer.cliente_endereco}}, {{customer.cliente_bairro}}, {{customer.cliente_endereco_numero}}</td>
                    <td class="px-4 py-2 border-b border-gray-200">{{customer.cliente_fone1}}</td>
                    <td class="px-4 py-2 border-b border-gray-200">

                          <!--Editar-->
                        <div class="flex">     
                            <a href="#"
                                class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200 group">
                            
                                <svg class="w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                    <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
                                    <path d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
                                </svg>
                                
                            </a>
                        
                    
                        <!--Excluir-->
                           
                            <a href="#"
                                class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-200 group">
                               <svg class="w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900" 
                               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd" />
                                    </svg>

                                
                            </a>
                        </div>

                    </td>
                   </tr> 
                   

                {% endfor %}
            </tbody>
        </table>

        
    </div>
</div>
{% endblock %}


{% block button %}
<div class="flex items-center justify-center mt-8">
    <button class="text-white bg-verde_botao-escuro w-60 py-2 rounded-full shadow-2xl" type="button">Cadastrar</button>
</div>
{%endblock%}